################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.pdb
*.swp
*.dll
*.vsix
/packages/
/bin/
/debug/
/obj/

