################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.pdb
*.swp
*.dll
*.vsix
/packages/
/bin/
/debug/
/obj/

*.nupkg
*.nuspec
/src/CSharpEssentialsAnalyzers/CSharpEssentialsAnalyzers.Test/bin/Debug/Microsoft.CodeAnalysis.CSharp.Workspaces.xml
/src/CSharpEssentialsAnalyzers/CSharpEssentialsAnalyzers.Test/bin/Debug/Microsoft.CodeAnalysis.CSharp.xml
/src/CSharpEssentialsAnalyzers/CSharpEssentialsAnalyzers.Test/bin/Debug/Microsoft.CodeAnalysis.VisualBasic.Workspaces.xml
/src/CSharpEssentialsAnalyzers/CSharpEssentialsAnalyzers.Test/bin/Debug/Microsoft.CodeAnalysis.Workspaces.Desktop.xml
/src/CSharpEssentialsAnalyzers/CSharpEssentialsAnalyzers.Test/bin/Debug/Microsoft.CodeAnalysis.Workspaces.xml
/src/CSharpEssentialsAnalyzers/CSharpEssentialsAnalyzers.Test/bin/Debug/Microsoft.CodeAnalysis.xml
/src/CSharpEssentialsAnalyzers/CSharpEssentialsAnalyzers.Test/bin/Debug/System.Collections.Immutable.xml
/src/CSharpEssentialsAnalyzers/CSharpEssentialsAnalyzers.Test/bin/Debug/System.Composition.Hosting.xml
*.xml
*.cache
